<div class='col-sm-10 offset-sm-1 my-3 <%= !center ? "col-md-6 offset-md-0" : "" %>' >
    <%= link_to articles_path, class: "card shadow-sm full-height border border-primary pointer" do %>
        <div class="card-body full-height font-lg center-content">
            <span>
                <p class="text-orange text-bold text-center"> OUR ARTICLES </p>
                <p> We have our articles here.</p>
                <p> They will be shown in the react app.</p>
                <p> To see, edit or create article <strong>click on the card.</strong></p>
            <span>
        </div>
    <% end %>
</div>
