<h2>
    Dashboard
</h2>

<div class="row">
    <%= render @api_categories, center: false %>
</div>

<div class="text-center my-3">
    <%= link_to "See All Apis", api_categories_path, class: "btn btn-primary btn-lg d-inline-block", style: "min-width: 100px;", role: "button" %>
</div>
