<div class="jumbotron">
  <h1 class="display-4">Unfortunately, here's empty!</h1>
  <p class="lead">You can start adding more articles to improve the website.</p>
  <hr class="my-4">
  <p>Let's start adding it with the button below</p>
  <% if logged_in? && current_user.admin? %>
    <p class="lead text-center">
      <%= link_to "New Article", new_article_path, class: "btn btn-primary btn-lg d-inline-block", role: "button" %>
    </p>
  <% end %>
</div>
