<h1 align="center">Listing all api categories</h1>

<div class="text-center mt-3" align="center">
  <span class="d-inline-block">
    <%= will_paginate %>
  </span>
</div>
<% @api_categories.each do |api_category| %>
    <%= render 'api_category', api_category: api_category, center: true %>
<% end %>
<div class="text-center my-3" align="center">
  <span class="d-inline-block">
    <%= will_paginate %>
  </span>
</div>
