<div class='col-8 offset-2 my-3 px-0'>
    <%= link_to 'new_api_category_path', class: "card shadow-sm full-height border border-primary dashed pointer" do %>
        <div class="card-body add-api-category full-height">
            +
        </div>
    <% end %>
</div>
