<div class='col-8 offset-2 my-3 px-0'>
    <%= link_to rswag_ui_path, target: '_blank', class: "card shadow-sm full-height border border-primary dashed pointer", remote: true do %>
        <div class="card-body add-api-category full-height">
            See All
        </div>
    <% end %>
</div>
