/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "./variables.scss";


.app-wrapper {
    padding: $container-padding;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
    border: none;
    &:focus {
        outline: none;
    }
    &.btn-primary {
        background: $app-primary;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $app-secondary;
}

.card {
    border-radius: 5px;
    background-color: $background-gray;
    -webkit-box-shadow: -3px 8px 20px 5px $shadow-color;
    -moz-box-shadow: -3px 8px 20px 5px $shadow-color;
    box-shadow: -3px 8px 20px 5px $shadow-color;
}

.pointer {
    cursor: pointer;
}
